clickhouse_backup/untracked_20250804_095605/downloads/sim-guides/
clickhouse_backup/untracked_20250804_095636/downloads/sim-guides/
clickhouse_backup/untracked_20250804_095636/new-thalinda/
clickhouse_backup/untracked_20250804_095636/types/
